language: generic
sudo: required
services:
    - docker

before_install:
    - docker build -t egbeoso/docker-react -f Dockerfile.dev .


script:
    - docker run  -e CI=true egbeoso/docker-react npm run test 


deploy:
    provider: elasticbeanstalk
    region: "ap-southeast-2"
    app: "Docker"
    env: "Docker-env"
    bucket_name: "elasticbeanstalk-ap-southeast-2-520547115454"
    bucket_path: "Docker"
    
    on:
        branches:
            only:
                - master
        
        
    access-key-id: $AWS_ACCESS_KEY
    secret-access-key: 
        secure: "$AWS_SECRET_KEY"
